.item-1 {
    background-color: green;
}
.item-2{
    background-color: blue;
}
.item-3{
    background-color: red;
}
.item-4{
    background-color: red;
}


.container{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 200px 200px;
    row-gap: 50px;
    column-gap: 100px;
}