.container {
  background-color: rgb(255, 221, 0);

  /* Izvieto, lūdzu, CSS Grid ar 3 tādām kolonnām,
  kādas vēlas būt katrs no tekstiem 1. rindā.
  Kopā ir 2 rindas un tās aizņem tieši tik daudz vietas,
  cik garākajam tekstam vajadzīgs.*/

  gap: 10px;
}

.item {
  background-color: rgb(239, 80, 80);
  font-family: sans-serif;
  color: white;
  padding: 5px;
}
